@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0a0b;
    --foreground: #ededed;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom Scrollbar for a premium feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #222224;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333336;
  }
}

@layer utilities {
  .glass {
    @apply bg-brand-gray/50 backdrop-blur-md border border-brand-border;
  }
}
